<mat-toolbar>
  <mat-toolbar-row>
    <div class="dropdown">
      <button id="dropdownMenuButton" data-toggle="dropdown">
        <i class="fa fa-user fa-2x"></i>
        {{currentUser}}
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a [routerLink]="['/login']" (click)="logout()">Uitloggen</a>
      </div>
    </div>

    <div class="buttongroup">
      <button [routerLink]="['/friends']">
        <i class="fa fa-group fa-2x"></i>
        Vrienden
      </button>
      <button [routerLink]="['/scoreboard']">
        <i class="fa fa-trophy fa-2x"></i>
        Scorebord
      </button>
      <button [routerLink]="['/home']">
        <i class="fa fa-gamepad fa-2x"></i>
        Startscherm
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
