.gameboard {
  background-image: url("/assets/images/table.jpg");
  background-size: contain;
  position: relative;
  height: 450px;
  padding: 0.5em;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  justify-content: right;
}

.handCard {
  padding: 0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.handCard:hover {
  width: 250px;
  height: 250px;
}

.selected {
  background-color: lightgreen;
  padding: 0.25em;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.handDiv {
  width: 600px;
  height: 280px;
  overflow-x: auto;
}
