mat-card {

  background: linear-gradient(#343434, #3A3939);
  width: 500px;
  margin: auto;

}

mat-card-title {
  padding: 0 1em 1em 0;
}

.friendCardDiv {
  margin-top: 3.25em;
}


li {
  color: black;
}

.fa-search {
  padding-left: 1em;
}

.fa-clock-o {
  padding-right: 0.25em;
}

button {
  color: white;
  padding: 0.5em;
  font-size: 20px;
  border: none;
  border-bottom: 5px solid darkred;
  background-color: #CB0007;
  border-radius: 5px;
}

.buttonCardContent {
  padding: 1em;
  display: flex;
  justify-content: center;
}

.fa-play {
  padding-right: 0.10em;
}

