<div class="dialog">
  <h2 mat-dialog-title>Vriend Toevoegen</h2>

  <mat-dialog-content>
    <form class="form-inline">
      <input class="form-control form-control-sm" type="text" aria-label="Search" name="addFriendInput"
             [(ngModel)]="addFriendInput">
    </form>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="btn-danger" (click)="closeDialog()">Sluiten</button>
    <button class="btn-success" (click)="addFriend(addFriendInput)">Toevoegen</button>
  </mat-dialog-actions>
</div>
