<div class='grid-container' [style.margin-left.px]="marginLeft">

  <div class="grid-item">
    <app-gameboardimage [newTileEvent]="newTileEvent" [centerTile]="centerTile.right" [marginLeft]="140"
                        *ngIf="centerTile.right != null"></app-gameboardimage>
    <app-gameboardimage [newTileEvent]="newTileEvent" [centerTile]="centerTile.left" [marginLeft]="-140"
                        *ngIf="centerTile.left != null"></app-gameboardimage>
    <div *ngIf="centerTile.topleft != null" class="imageRotationContainer"
         [style.transform]="setResourceCardRotationByValue(centerTile.topleft.value)">
      <img [src]="centerTile.topleft.resourceImagePath">
    </div>
  </div>

  <div style="z-index: 1;" class="grid-item" (click)="topTileClicked()">
    <img *ngIf="centerTile.top != null" [src]="centerTile.top.resourceImagePath">
  </div>

  <div class="grid-item">
    <div *ngIf="centerTile.topright != null" class="imageRotationContainer"
         [style.transform]="setResourceCardRotationByValue(centerTile.topright.value)">
      <img [src]="centerTile.topright.resourceImagePath">
    </div>
  </div>

  <div class="grid-item" (click)="leftTileClicked()">
  </div>

  <div class="grid-item">
    <img [src]="centerTile.resourceImagePath" width="150px" height="150px">
  </div>

  <div class="grid-item" (click)="rightTileClicked()">
  </div>

  <div class="grid-item">
    <div *ngIf="centerTile.bottomleft != null" class="imageRotationContainer"
         [style.transform]="setResourceCardRotationByValue(centerTile.bottomleft.value)">
      <img [src]="centerTile.bottomleft.resourceImagePath">
    </div>
  </div>

  <div style="z-index: 1" class="grid-item" (click)="bottomTileClicked()">
    <img *ngIf="centerTile.bottom != null" [src]="centerTile.bottom.resourceImagePath">
  </div>

  <div class="grid-item">
    <div *ngIf="centerTile.bottomright != null" class="imageRotationContainer"
         [style.transform]="setResourceCardRotationByValue(centerTile.bottomright.value)">
      <img [src]="centerTile.bottomright.resourceImagePath">
    </div>
  </div>

</div>
