<app-header></app-header>
<div class="homepage">
  <img class="background" src="/assets/images/sunset.png" width="100%" height="100%">
  <img class="title" src="/assets/images/kolonisten_van_catan_title.png" width="35%">
  <div class="windmillAndKnightGroup">
    <img class="windmillAndKnight" src="/assets/images/windmill.gif" height="200px" width="250px">
    <img class="windmillAndKnight" src="/assets/images/windmill.gif" height="150px" width="200px">
    <img class="windmillAndKnight" src="/assets/images/knight.png" height="150px" width="200px">
    <img class="windmillAndKnight" src="/assets/images/windmill.gif" height="150px" width="200px">
    <img class="windmillAndKnight" src="/assets/images/windmill.gif" height="200px" width="250px">
  </div>
  <button><i class="fa fa-play"></i> Spelen</button>
</div>
